/* Webfont: CammronDemo */@font-face {
    font-family: 'CammronDemo';
    src: url('CammronDemo.eot'); /* IE9 Compat Modes */
    src: url('CammronDemo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('CammronDemo.woff') format('woff'), /* Modern Browsers */
         url('CammronDemo.ttf') format('truetype'), /* Safari, Android, iOS */
         url('CammronDemo.svg#CammronDemo') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

